ul, ol, dl {
  margin-left: 0;
  padding: 0;
  text-align: center;
  list-style-position: inside;
}

dt, dd {
  text-align: center;
}

form label {
  display: block;
  text-align: center;
}

form div {
  text-align: center;
}

body {
      font-family: Arial, sans-serif;
      background-image: url(https://i.pinimg.com/1200x/b4/be/b7/b4beb746b9ee616660a2f247dbfb5288.jpg); 
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
      padding: 20;
      color: white;
      text-align: center;
    }
    header {
      background-image: url(https://i.pinimg.com/1200x/bb/7b/b4/bb7bb401a0091ae7a40cde92c321844c.jpg);
      color: white;
      padding: 20px;
      text-align: center;
    }
    .container {
      padding: 20px;
    }
    h1, h2 {
      color: #ec0046;
      font-family: monospace;
    }
    img.logo {
      width: 120px;
      border-radius: 50%;
    }

    form {
      background-color: #555;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    input, textarea {
      width: 100%;
      margin-bottom: 10px;
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 2px;
    }
    input[type="submit"] {
      background-color: #300;
      color: mintcream;
      border: none;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #300;
    }
